<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.testandroiddev2018">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Apps stats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.DetailedAppInfoActivity"
            android:label="Detailed info" />
        <activity android:name=".activities.MainActivity"
            android:label="Apps list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreatePasswordActivity"
            android:label="Create password"/>
        <activity android:name=".activities.EnterPasswordActivity"
            android:label="Enter password"/>
        <activity
            android:name=".activities.SplashActivity"
            android:label="Loading" />
        <activity
            android:name=".activities.AskForPermissionActivity"
            android:label="Allow permission " />
    </application>

</manifest>